.event:hover {
    background-color: #9b9a92;
    cursor: pointer;
    border-radius: 15px;
}

h3 {
    font-weight: bold;
    font-family: "Montserrat";
}

#galleryEvents {
    font-family: "Montserrat";
}

.create-button {
    border: 2px solid #006F45;
    border-radius: 10px;
    color: #006F45;
    width: fit-content;
    font-size: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.create-button:hover {
    background: #006F45;
    color: white;
}

.edit-modal {
    background: #E9E7DB;
    width: 40%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.edit-modal>h1 {
    text-align: center;
}

.modal-container {
    background: rgba(0, 0, 0, 0.317);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9998;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    color: black;
    margin: 10px auto;
    font-family: "Montserrat";
}

input:focus {
    outline: none;
}

.save-button {
    background: black;
    color: white;
    font-family: "Montserrat";
    width: fit-content;
    cursor: pointer;
    transition: 0.5s;
}

.save-button:hover {
    background-color: #006F45;
}

textarea {
    background: none;
    padding: 3px;
    width: 80%;
}

textarea:focus {
    outline: none;
}

i.close {
    color: rgba(237, 27, 53, 1);
    top: 15px;
    right: 15px;
    position: absolute;
}

i:hover {
    transform: scale(1.3);
}