@import "./main.css";
#landing-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    margin: 0;
    background: #E9E7DB;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    text-align: left;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #000000;
    background: #E9E7DB;
    z-index: 1;
}

.form-tabs {
    box-sizing: border-box;
    border: 1px solid #000000;
    margin: 0;
}

.form-tab {
    text-align: center;
    width: 50%;
    padding: 10px;
}

.form-tabs h2 {
    cursor: pointer;
    margin: 0;
    font-family: 'Lora';
}

.active {
    color: white;
    background-color: black;
}

h1 {
    color: #006F45;
    font-size: 96px;
}

h2 {
    font-size: 24px;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(237, 27, 53, 0.3);
    border-radius: 50%;
    right: -20px;
    bottom: 100px;
    z-index: 0;
}

.square {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 37%;
    bottom: 20px;
    background: rgba(109, 207, 246, 0.3);
    transform: rotate(-30.3deg);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    border-bottom: 260px solid rgba(0, 111, 69, 0.3);
    transform: rotate(17.91deg);
    bottom: -50px;
    left: -50px;
    position: absolute;
}