@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h1 {
    font-family: 'Lora';
}

h2 {
    font-family: 'Montserrat';
}

body {
    background: #E9E7DB;
    color: black;
}