@import "./main.css";
#nav-bar {
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px black;
    position: relative;
    top: 70px;
}

.nav-tabs {
    white-space: nowrap;
    margin: auto;
    text-align: center;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    right: 100px;
}

.nav-dropdown {
    display: none;
    position: absolute;
    right: 100px;
    bottom: 15px;
    height: fit-content;
    width: fit-content;
    border: #006F45 2px solid;
    border-radius: 10px;
    color: #006F45;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 9999;
}

.dropdown-tabs {
    position: absolute;
    top: 45px;
    text-align: right;
    right: 0;
    background-color: #E9E7DB;
    color: #006F45;
    padding: 10px;
    z-index: 9998;
    border-radius: 15px;
    white-space: nowrap;
    border: #006F45 2px solid;
    font-family: 'Lora';
    font-size: 32px;
}

.dropdown-tab:hover {
    background: #006F45;
    color: #E9E7DB;
    cursor: pointer;
}

.dropdown-tab {
    border-radius: 15px;
    padding: 5px;
    transition: 0.5s;
}

.dropdown-active {
    background: black;
    color: white;
}

.dropdown-active:hover {
    background: black;
    color: white;
}

.nav-dropdown:focus {
    outline: none;
}

.nav-dropdown:hover {
    background-color: #006F45;
    color: white;
}

@media (max-width: 1000px) {
    .nav-tabs {
        display: none;
    }
    .nav-dropdown {
        display: inline-block;
    }
}

.nav-tab {
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    cursor: pointer;
    transition: 0.5s;
    font-size: 24px;
    font-family: "Lora" !important;
    text-align: center;
}

.nav-tab:hover {
    background-color: #006F45;
    color: white;
}

.active {
    background-color: black;
    color: white;
}

.active:hover {
    background-color: black;
    color: white;
}

.title {
    float: left;
    color: #006F45;
    font-size: 48px;
}

h1 {
    margin: 0;
}