.order-container {
    text-align: center;
    border: 1px black solid;
    overflow: auto;
    border-radius: 3px;
}

.orders {
    margin-bottom: 20px;
    width: auto;
    text-align: left;
}

.order:hover {
    background-color: #9b9a92;
    cursor: pointer;
    border-radius: 15px;
}

img {
    width: 64px;
    height: auto;
}

.border-button {
    width: fit-content;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    border-radius: 3px;
}

.border-button:hover {
    background-color: black;
    color: white;
}