@import "./main.css";
@import "./profilePage.css";
.name {
    font-family: "Montserrat";
    font-weight: bold;
}

.profile-image {
    width: 169px;
    height: 169px;
    margin: 0 auto;
}

#profile-info {
    text-align: center;
    border: solid 1px black;
    border-radius: 3px;
}

p {
    text-align: left;
}

.black-button {
    width: fit-content;
    background-color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    border-radius: 3px;
}

.black-button:hover {
    background-color: #006F45;
}

.border-button {
    width: fit-content;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    border-radius: 3px;
}

.border-button:hover {
    background-color: black;
    color: white;
}