@import "./main.css";
#profile-page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.seperator {
    height: 0;
    border-bottom: 1px solid black;
    width: 85%;
}

.info-orders {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    justify-items: center;
}

@media (min-width: 900px) {
    .info-orders {
        grid-template-columns: 40% auto;
    }
}

.artwork-section {
    display: flex;
    align-items: center;
}

.black-button {
    width: fit-content;
    background-color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.black-button:hover {
    background-color: #006F45;
}