@import "./main.css";
#profile-page {
    display: flex;
    flex-direction: column;
    top: 200px;
    position: relative;
    width: 80%;
}

.seperator {
    height: 0;
    border-bottom: 1px solid black;
    width: 85%;
}

.info-orders {
    margin: auto;
    width: 100%;
}

.artwork-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    width: fit-content;
    background-color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.edit-button:hover {
    background-color: #006F45;
}