@import "./main.css";
#profile-page {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #E9E7DB;
}

.seperator {
    height: 0;
    border-bottom: 1px solid black;
    width: 85%;
}

.info-orders {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    justify-items: center;
}

@media (min-width: 900px) {
    .info-orders {
        grid-template-columns: 40% auto;
    }
}

.artwork-section {
    display: flex;
    align-items: center;
}

.black-button {
    width: fit-content;
    background-color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.black-button:hover {
    background-color: #006F45;
}

.artproducts {
    display: grid;
    grid-gap: 40px;
}

@media (min-width: 600px) {
    .artproducts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .artproducts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1400px) {
    .artproducts {
        grid-template-columns: repeat(4, 1fr);
    }
}

.col {
    flex-grow: 1;
}

p {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

select {
    background-color: #e9e7db;
    color: #000000;
    width: 80px;
}

img {
    height: 160px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.artist {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.date {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.center {
    text-align: center;
}