<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/EventRegistration-Backend/src/test/java/ca/mcgill/ecse321/eventregistration/dao/TestEventRegistrationPersistence.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="SPRING_DATASOURCE_URL" value="jdbc:postgresql://ec2-52-202-66-191.compute-1.amazonaws.com:5432/d7pq4ekqehgdin?password=943ab8ba3dad8f0ecc73f3cbb111bdf8a912a71ed468bb5d39bd34fa2411d69e&amp;sslmode=require&amp;user=zajwqjccmvmysq"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit5"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.mcgill.ecse321.eventregistration.dao.TestEventRegistrationPersistence"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EventRegistration-Backend"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
